@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.container{
    display: flex;
    height: auto;
    width: auto;
}
#tickitzpurpleimg{
    display: none;
}
.container-bg{
    background-color: burlywood;
    position: relative;
    height: auto;
    width: 55%;
}
.container-bg > img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}
.container-bg::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 21, 107, 0.8);
    opacity: 0.8;
    z-index: 0;
}
.container-bg-content{
    width: 80%;
    position: absolute; 
    z-index: 10;
    padding: 0;
    margin: 0;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container-bg-content > img {
    width: 50%;
}
.container-bg-content > h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    margin-top: 1em;
}
.container-bg-content > h5 {
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.container-form{ 
    display: flex;
    flex-direction: column;
    height: auto;
    width: 45%;
    height: 60vh;
    padding: 0 5%;
    justify-content: space-around;
}
.container-form-title > h3{
    font-weight: 600;
    font-size: 2rem;
    color: rgba(18, 18, 18, 1);
    margin: 0;
}
.container-form-title > h4 {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #8692A6;
}

.label{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    margin-top: 15px;
    color: #4E4B66;
}
.btn-div{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.form-label {
    font-size: 1.5rem;
    font-weight: 500;
}
.form-forgot {
    display: flex;
    flex-direction: column;
    height: 15em;
    justify-content: space-evenly;
}
.form-forgot > input {
    height: 3em;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container-form{
        width: 100%;
        padding: 5em 5%;
    }
    .container-bg{
        display: none;
    }
    .box1 > h3{
        font-size: 2rem;
        
    }
    .box1 > h4{
        display: none;
    }
    
    .f-password{
        font-size: 1.7rem;
    }
    .line2 > p {
        font-size: 1.5rem;
    }
    .btn-div{
        justify-content: space-around;
    }
    .btn{
        height: min-content;
        width: min-content;
    }
    .btn > p {
        display: none;
    }
    .btn > img {
        height: 45px;
        width: 45px;
    }
    .box0 {
        display: block;

    }
    .container-form-title > h4 {
        font-size: 1.5rem;
    }
}