.center{
    justify-content: center;
}
.section{
    padding: 2em 5%;
}
.flex{
    display: flex;
    margin: 10px 0;
}
.border{
    border: 1px solid black;
    border-radius: 8px;
    padding: 1.5em;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.grid-2{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}
.grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .5em;
}
.mgrl-1{
    margin: 0 1em;
}
.mgtb-2{
    margin: 2em 0;
}
.paddingr-1{
    padding-right: 1em;
}

.grow-1{
    flex-grow: 1;
}
.grow-2{
    flex-grow: 2;
}
.grow-3{
    flex-grow: 3;
}
.bg-grey{
    background-color: #F5F6F8;
}
p.detail{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.75px;
    color: #8692A6;
    margin: 0;
}
p.desc{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.75px;
    color: #121212;
}
.border-bot{
    border-bottom: 1px solid #DEDEDE;

}
.desc-synopsis{
    margin-top: 1em;
}
.desc-synopsis h4{
    font-style: normal;
    font-weight: normal;
    font-size: 2rem; 
    letter-spacing: 0.75px;
    color: #000000;
}
.desc-synopsis p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

/* card section2 dibawah */
.card-line{
    padding: 1em ;
}

.card-img{
    padding-left: 1em;
    padding-top: 1.2em;
}
.card-img img{
    width: 8em;
    height: auto;
    object-fit: contain;
}
.card-title {
    padding: 0 5px;
}
.card-desc {
    padding: 0 5px;
}
p.card-title{
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.75px;
    color: #000000;
    margin: 0;

}
p.card-desc{
    font-style: normal;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: 0.75px;
    color: #6E7191;
    margin: 0;
}

.sp-bt{
    justify-content: space-between;
}
.base-line{
    align-items: baseline;
}
.price{
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    letter-spacing: 0.75px;
    color: #6B6B6B;
}
.price-sum{
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.75px;
    color: #000000;
}
.card-line > button{
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    text-align: center;
    letter-spacing: 0.75px;
    border: none;
    border-radius: 8px;
    background-color: #5F2EEA;
    color: #F7F7FC;
    padding: .8em 3em;
}

.card-line-1 > button {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    text-decoration: none;
    color: #4E4B66;
    letter-spacing: .75px;
    font-size: 12px;
}
button.activeBtn {
    background-color: #5F2EEA;
    color: #F7F7FC;
    border-radius: 8px;
}
.card-line > a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 0.75px;
    color: #5F2EEA;
}
.line h4{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142B;
    text-align: center;
}

button>img{
    float: left;
    vertical-align: middle;
}
.line-lit > a{
    padding-left: 8em;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.75px;
    color: #5F2EEA
}
.image > img{
    width: 350px;
    object-fit: contain;
}
.drop-content {
    display: none;
}
.drop-content-active > ul {
    list-style: none;
    padding: 0;
}
.drop-content-active {
    position: absolute;
    right: 35.5%;
    width: 12em; 
    max-width: 12em;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 3em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(231, 231, 231);
    z-index: 1;
    text-align: center;
}
.drop-content-active li {
    font-size: 1.3rem;
    margin-bottom: 0;
}
.drop-content-active li:hover{
    background-color: grey;
}
.flex > select {
    width: 12em;
    margin: 0 5px;
    border: none;
    background: #EFF0F6;
    border-radius: 6px;
    outline: none;
    position: relative;
    color: black;
}
.flex > input {
    width: 12em;
    margin: 0 5px;
    border: none;
    background: #EFF0F6;
    border-radius: 6px;
    text-align: center;
    outline: none;
}
@media (max-width: 991.98px) { 
    .grid-3 {
        grid-template-columns: 1fr 1fr;
        padding: 3em;
    }
}
@media (max-width: 767.98px) { 
    .grid-3 {
        padding: 1em 0;
    }
    .desc-synopsis {
        height: 10em;
        overflow: auto;
    }
    .line-lit > a {
        padding-left: 2em;
    }
}
@media (max-width: 575.98px) {
    .flex {
        flex-direction: column;
    }
    .border {
        margin: 0 3.5em;
    }
    .hehe {
        flex-direction: row;
    }
    .grid-3 {
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 80%;
    }
}
@media (max-width: 375.98px) {
    .border {
        margin: 0;
    }
    .image > img {
        width: 285px;
    }
    .card-img {
        padding-left: 0;
    }
    .card-img > img {
        width: 110px;
    }
    .grid-4 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card-line {
        margin: 0;
    }
    .sp-bt {
        padding-top: 0;
    }
    .grid-3 {
        width: 100%;
    }
}