.col-sm-4{
    background-color: white;
}
.col-sm-8{
    background-color: white;
}
.column-1{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.privacy{
    display: flex;
    justify-content: space-between;
}
.btntab  button{
    background-color: white;
    border: none;
    padding: .5em 2em;
    font-size: 1.2rem;
    font-weight: 600;

}

.grid-2 input{
    padding-left: 1em;
}
.bioProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.groupInput {
    position: relative;
}
.groupInput:hover::after {
    cursor: pointer;
    content: "Insert Image";
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    background-color: #14142B;
    opacity: 0.5;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: -1%;
    text-align: center;
    padding: 40% 0;
    color: white;
}

.groupInput > img{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.bioProfile > h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: #14142B;
}
.inpt {
    display: none;
}