.col-sm-4{
    background-color: white;
}
.col-sm-8{
    background-color: white;
}
.column-1{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.privacy{
    display: flex;
    justify-content: space-between;
}
.btntab  button{
    background-color: white;
    border: none;
    padding: .5em 2em;
    font-size: 1.2rem;
    font-weight: 600;

}

.grid-2 input{
    padding-left: 1em;
}
.bioProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bioProfile > img{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}