@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    font-family: 'Mulish', sans-serif !important;
}
.container{
    /* background-color: blue; */
    display: flex;
    height: auto;
    width: auto;
}
#tickitzpurpleimg{
    display: none;
}
.container-bg{
    background-color: burlywood;
    position: relative;
    height: auto;
    width: 55%;
}
.container-bg > img{
    width: 100%;
    height: 110vh;
    object-fit: cover;
    display: block;
}
.container-bg::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 21, 107, 0.8);
    opacity: 0.8;
    z-index: 0;
}
.container-bg-content{
    position: absolute; 
    z-index: 10;
    padding: 0;
    margin: 0;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}
.container-bg-content > img {
    width: 90%;
}
.container-bg-content > h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    padding-left: 1em;
}


.container-form{ 
    display: flex;
    flex-direction: column;
    height: auto;
    width: 45%;
    padding: 0 5%;
    justify-content: flex-start;
}

.label{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    margin-top: 15px;
    color: #4E4B66;
}
.btn-div{
    width:100%;
    display: flex;
    justify-content: space-between;
}

::placeholder{
    width: auto;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    letter-spacing: 0.75px;
    color: #A0A3BD;
    padding-left: 24px;
}

.f-password{
    text-align: center;
    margin-top: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: 0.005em;
    color: #8692A6;
}


.btn{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: 4vw;
    width: 45%;
    border: none;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 0.05em;
    color: #A0A3BD;
    margin: 0;
}
.btn > img{
    float: left;
    margin-left: 1vw;
    width: 2vw;
}
.btn > p{
    margin: 0;
}

/* box1,box2,box3 */
.box0{
    display: none;
}
.box1{
    /* padding-bottom: 50px; */
    margin: 0;
    padding: 30px 0 0 ;
}
.box2{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.box3{
    display: flex;
    align-items: center;    
}
.box1 > h3 {
    padding: 0;
    font-size: 3rem;
    margin: 0;
}
.box1 > h4{
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #AAAAAA;
}

.line2 > p{
    margin-top: 14px;
    padding: 0;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    color: #AAAAAA;
}
.box4{
    /* padding-top: 50px; */
    margin: 3vw;
    padding: 0;
}

hr{
    width: 80%;
    border: 0.5px solid #DEDEDE;
}
.line1{
    flex-grow: 3;
}
.line2{
    flex-grow: 1;
    
}
.line3{
    flex-grow: 3;
    
}

@media (max-width: 991.98px) { 
    .box3 {
        padding: 0;
    }
    .container-bg-content  {
        width: 70%;
    }
    .container-bg-content > img{
        width: 18em;
    }
}
@media (max-width: 767.98px) { 
    .container-bg-content {
        width: 80%;
        margin-left: 2em;
    }
    .container-bg-content > h2 {
        font-size: 1.5rem;
    }
    .container-bg-content > h5 {
        font-size: 1rem;
    }
    .container-bg-content > img {
        width: 15em;
    }
    .box1 > h3, .box1 > h4 {
        margin-bottom: 0;
    }
    .label {
        margin: 0;
    }
    input[type=text], input[type=password] {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .f-password {
        margin-top: 15px;
    }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container-form{
        width: 100%;
        padding: 5em 5%;
    }
    .container-bg{
        display: none;
    }
    .box1 > h3{
        font-size: 2rem;
        
    }
    .box1 > h4{
        display: none;
    }
    
    .f-password{
        font-size: 1.7rem;
    }
    .line2 > p {
        font-size: 1.5rem;
    }
    .btn-div{
        justify-content: space-around;
    }
    .btn{
        height: min-content;
        width: min-content;
    }
    .btn > p {
        display: none;
    }
    .btn > img {
        height: 45px;
        width: 45px;
    }
    .box0 {
        display: block;

    }
}