.cont-fluid {
    padding: 4em 8em;
    background-color: #5F2EEA;
    margin-bottom: 2em;
}
.box-ticket {
    background-color: white;
    background: #F5F6F8;
    border-radius: 8px;
    width: 100%;
    height: min-content;
    padding: 2em 7em;
}
.box-ticket > h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
}
.ticket {
    width: 100%;
    height: min-content;
}
.ticket-top {
    display: flex;
    height: 4em;
    background-color: #5F2EEA;
    align-items: center;
    border-top-right-radius: 16px ;
    border-top-left-radius: 16px ;
}
.ticket-top-right {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    
}
.ticket-top-left {
    display: flex;
    align-items: center;
    flex-basis: 65%;
    justify-content: space-between;
    border-right: 1px dashed #DEDEDE;
    padding: 0 2em;
}
.ticket-top-left > h5 {
    margin-bottom: 0;
    color: white;
}
.ticket-top-left > img, .ticket-top-right > img {
    height: 3em;
}
.ticket-bottom{
    width: 100%;
    height: 75%;
    border: 1px solid #DEDEDE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
}
.ticket-bottom-left {
    flex-basis: 65%;
    padding-left: 2em;
    padding-top: 2em;
    border-right: 1px dashed #DEDEDE;
}
.ticket-bottom-left-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-content > h5, .ticket-bottom-left > h5, .tbr-left > h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #AAAAAA;
    margin-bottom: 0;
}
.grid-content > p, .ticket-bottom-left > p, .ticket-bottom-right > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #14142B;
    margin-bottom: 0;
}
.ticket-bottom-right {
    flex-basis: 35%;
    padding-left: 1em;
    display: flex;
    flex-wrap: nowrap;
}
.ticket-bottom-right-grid {
    display: grid;
    grid-template-columns: auto auto;
}
.btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-group > button {
    width: 10em;
    height: 3em;
    border: 1px solid #4E4B66;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #4E4B66;
    margin: 1em;
}
.tbr-right {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}
.tbr-right > img {
    margin-left: 15px;
}
