.btn{
    background-color: #5F2EEA;
    border-radius: 4px;
    border: none;
    color: white;
    padding: .5em ;
    width: 200px;
}
.white{
    background-color: white;
    border: 1px solid #5F2EEA;
    color: #5F2EEA;
}
.full{
    width: 100%;
}
.none{
    display: none;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .btn{
        height: 2.5em;
        font-size: 2rem;
    }
}